<div class="container">
    <div class="row">
      <div class= "col-md-4 col-sm-12">
        <div [ngClass]="{'responseBox': graphLabels.length <= 15, 'responseBox-large': graphLabels.length > 15}">
            <div class="chart-container">
                <canvas baseChart
                  [datasets]="graphData"
                  [labels]="graphLabels"
                  [options]="graphOptions"
                  [legend]="true"
                  type="bar"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
            </div>         
        </div>
    </div>
</div>