<div class="container">
    <div class="row" id="row1">
        <div class="col-md-1 col-sm-1">
            <button (click)="onClick()" class= "back-arrow">
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2668 20.8993L1.43346 12.0993C1.27791 11.9437 1.16124 11.7715 1.08346 11.5826C1.00569 11.3937 0.966797 11.1993 0.966797 10.9993C0.966797 10.7993 1.00569 10.6048 1.08346 10.4159C1.16124 10.227 1.27791 10.0548 1.43346 9.89927L10.3001 1.03261C10.6112 0.721495 10.9779 0.571495 11.4001 0.582606C11.8224 0.593717 12.189 0.754828 12.5001 1.06594C12.8112 1.39927 12.9668 1.77705 12.9668 2.19927C12.9668 2.62149 12.8112 2.98816 12.5001 3.29927L6.40013 9.4326H20.8668C21.3112 9.4326 21.6835 9.58261 21.9835 9.88261C22.2835 10.1826 22.4335 10.5548 22.4335 10.9993C22.4335 11.4437 22.2835 11.8159 21.9835 12.1159C21.6835 12.4159 21.3112 12.5659 20.8668 12.5659H6.40013L12.5335 18.7326C12.8446 19.0437 12.9946 19.4048 12.9835 19.8159C12.9724 20.227 12.8112 20.5882 12.5001 20.8993C12.1668 21.2326 11.789 21.3993 11.3668 21.3993C10.9446 21.3993 10.5779 21.2326 10.2668 20.8993Z" fill="#303030"/>
                </svg>
             </button>
        </div>
        <div class="col-md-11 col-sm-11">
            <p id="card-letter1">Hyperbus Adaptor - IA Data Manager</p>
        </div>
    </div>
    <div class="row row2" > 
        <div class="col-md-5 col-sm-12">
            <p class="heading-1">Heading 1 </p>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class= "box">
                        <div class="box-title">
                            <p>Average Request Per Day</p>
                        </div>
                        <p class="box-number">{{avgReqPerDay}}</p>
                        <div class="label">
                            <img *ngIf="avgReqPerDayvsLastWeek < 0" class="red-arrow " src="/assets/vectors/arrow-down-red.svg">
                            <img *ngIf="avgReqPerDayvsLastWeek > 0" class="green-arrow" src="/assets/vectors/upArrow.svg">
                            <p *ngIf="avgReqPerDayvsLastWeek < 0" class="red-arrowePrcentage" >{{avgReqPerDayvsLastWeek}}%</p>
                            <p *ngIf="avgReqPerDayvsLastWeek > 0" class="green-arrowePrcentage" >{{avgReqPerDayvsLastWeek}}%</p>
                            <p>vs last week</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" >
                    <div class= "box">
                        <div class="box-title">
                            <p>Average Request Per Week</p>
                        </div>
                        <p class="box-number">{{avgReqPerWeek}}</p>
                        <div class="status"></div>
                        <div class="label">
                            <img *ngIf="avgReqPerWeekvsLastWeek < 0" class="red-arrow" src="/assets/vectors/arrow-down-red.svg">
                            <img *ngIf="avgReqPerWeekvsLastWeek > 0" class="green-arrow" src="/assets/vectors/upArrow.svg">
                            <p *ngIf="avgReqPerWeekvsLastWeek < 0" class="red-arrowePrcentage" >{{avgReqPerWeekvsLastWeek}}%</p>
                            <p *ngIf="avgReqPerWeekvsLastWeek > 0" class="green-arrowePrcentage" >{{avgReqPerWeekvsLastWeek}}%</p>
                            <p>vs last week</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <p class="heading-2">Heading 2 </p>
            <div class="row row3">
                <div class="col-md-4 col-sm-12">
                    <div class= "box">
                        <div class="box-title">
                            <p>Total Request Received</p>
                        </div>
                        <p class="box-number">{{totalReq}}</p>
                        <div class="status"></div>
                        <div class="label">
                            <img *ngIf="totalReqvsLastWeek < 0" class="red-arrow" src="/assets/vectors/arrow-down-red.svg">
                            <img *ngIf="totalReqvsLastWeek > 0" class="green-arrow" src="/assets/vectors/upArrow.svg">
                            <p *ngIf="totalReqvsLastWeek < 0" class="red-arrowePrcentage" >{{totalReqvsLastWeek}}%</p>
                            <p *ngIf="totalReqvsLastWeek > 0" class="green-arrowePrcentage" >{{totalReqvsLastWeek}}%</p>
                            <p>vs last week</p>  
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class= "box">
                        <div class="box-title">
                            <p>Total Request with Subject Found</p>
                        </div>
                        <p class="box-number">{{totalReqWithSubjectFound}}</p>
                        <div class="status"></div>
                        <div class="label">
                            <img *ngIf="totalReqWithSubjectFoundvsLastWeek < 0" class="red-arrow" src="/assets/vectors/arrow-down-red.svg">
                            <img *ngIf="totalReqWithSubjectFoundvsLastWeek > 0" class="green-arrow" src="/assets/vectors/upArrow.svg">
                            <p *ngIf="totalReqWithSubjectFoundvsLastWeek < 0" class="red-arrowePrcentage" >{{totalReqWithSubjectFoundvsLastWeek}}%</p>
                            <p *ngIf="totalReqWithSubjectFoundvsLastWeek > 0" class="green-arrowePrcentage" >{{totalReqWithSubjectFoundvsLastWeek}}%</p>
                            <p>vs last week</p>  
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class= "box">
                        <div class="box-title">
                            <p>Total Request with Mismatch or Error</p>
                        </div>
                        <p class="box-number">{{totalReqWithMismatch}}</p>
                        <div class="label">
                            <img *ngIf="totalReqWithMismatchvsLastWeek < 0" class="red-arrow" src="/assets/vectors/arrow-down-red.svg">
                            <img *ngIf="totalReqWithMismatchvsLastWeek > 0" class="green-arrow" src="/assets/vectors/upArrow.svg">
                            <p *ngIf="totalReqWithMismatchvsLastWeek < 0" class="red-arrowePrcentage" >{{totalReqWithMismatchvsLastWeek}}%</p>
                            <p *ngIf="totalReqWithMismatchvsLastWeek > 0" class="green-arrowePrcentage" >{{totalReqWithMismatchvsLastWeek}}%</p>
                            <p>vs last week</p>  
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="previous-requests">Previous Requests</p>
        <div class="col-md-6 col-sm-12">
            <input class="search-bar" type="text" placeholder="Search">
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="filter-box" id="filter-box1">
                <p id="filter-text">Filter by</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table>
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Subject Name</th>
                        <th>Date/Time of Request</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let req of requests | paginate 
                    : {
                        itemsPerPage: limit,
                        currentPage: pageNo,
                        totalItems: total
                      }">
                        <td>{{req['requestID']}}</td>
                        <td >{{req['subjectName']}}</td>
                        <td>{{req['createdAt']}}</td>
                        <td [ngClass]="req['status']==1 ? 'green' : 'red'">{{req['statusMessage']}}</td>
                    </tr>
                </tbody>
               
            </table>
            <div class="row" >
                <div class="d-flex justify-content-center col-md-10 col-sm-12">
                    <pagination-controls class="paginationformate"
                        previousLabel=""
                         nextLabel=""
                        (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
                <div class="d-flex justify-content-right col-md-2 col-sm-12">
                    <select (click)="selectChangeHandler($event)" class="dropdown1">
                        <option value="5">5/page</option>
                        <option value="10">10/page</option>
                        <option value="25">25/page</option>
                        <option value="50">50/page</option>
                        <option value="100">100/page</option>
                    </select>
                </div>            
            </div> 
        </div>
    </div>
</div>
