.container {
    margin-top: 30px;
}
.row2 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}
.row2 > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
.back-arrow{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0;
}
#card-letter1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #2B2B2B;
    margin-left: 0;
}
.heading-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #2B2B2B;
}
.heading-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #595959;
}
.box {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.845992px solid #EAECF0;
    box-shadow: 0px 0.845992px 1.69198px rgba(0, 0, 0, 0.05);
    border-radius: 6.76793px;
    padding: 4px;
    margin: 0;
}
.box-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    align-content: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px;
}
.box-number{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #101828;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px;
}
.label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #000000;  
    margin: 0;
    padding:0px 50px 0px 5px;
    display: flex;
}
.green-arrow{
    height: 14px;
    width: 14px;
    border-radius: 0px;
}
.red-arrow{
    height: 14px;
    width: 14px;
    border-radius: 0px;
    /* color: #D3273E; */
}
.red-arrowePrcentage{
    color: #D3273E;
    margin-right: 7px;
    font-size: 12px;
}
.green-arrowePrcentage{
    color: #007A78;
    margin-right: 7px;
    font-size: 12px;
}
.previous-requests{
    margin: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #303030;
}
.search-bar{
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #b6b5b5;
    border-radius: 8px;
    padding: 10px 0 10px 45px;
    background-image: url("/assets/vectors/search-icon.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    margin: 25px 0;
}
.filter-box{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #828080;
    border-radius: 8px;
    float: right;
    width: 30%;
    background-image: url("/assets/vectors/filter-icon.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 10px;
    margin: 25px 0;
}
#filter-text{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    padding: 15px;
    margin: 0;
}

.statusMessage{
    font-weight: 600;
}
.green{
    color: #007A78; 
}
.red{
    color: #D3273E;
}
.paginationformate{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;    
}
.dropdown1, .dropdown1 :after{
    padding: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid#ddd;
    border-radius: 5px;
    align-content: center;
    float: right;
}

.select-items,.select-selected {
    color: #ffffff;
    padding: 80px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

.pagination-row {
    margin: 10px 0;
    background-color: #e9e9ea;
    border-radius: 5px;
    padding: 5px 0;
}

.pagination-row pagination-controls /deep/ .ngx-pagination {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.pagination-row pagination-controls /deep/ .ngx-pagination li.current {
    border-radius: 5px;
}

.table {
    padding-top: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    padding-bottom: 10px;
    height: 370px;
    overflow-y: scroll;
}

tr.example-detail-row {
    
    border: 0;
    height: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {  
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.example-element-header {
    background-color: #e1e2e3;
    width: 100%;
}

#reqButton {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    font-weight: normal;
}

::ng-deep .mdc-fab {
    margin-top: 10px;
    margin-right: 15px;
}

::ng-deep .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: #3D85C6;
}
  
.mat-mdc-form-field {
    width: 100%;
}

mat-paginator {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:small;
}

::ng-deep .mat-mdc-option {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:medium;
}

ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgb(196, 193, 193);
    --scrollbar-hover-size: 8px;
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-border-radius: 10px;
    --scrollbar-padding: 0px;
    
    height: 370px;
}

mat-divider {
    margin-top: 5px;
}

.table {
    padding-top: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    padding-bottom: 10px;
    height: 370px;
    overflow-y: scroll;
}

tr.example-detail-row {
    
    border: 0;
    height: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {  
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.example-element-header {
    background-color: #e1e2e3;
    width: 100%;
}
  
mat-paginator {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:small;
}

::ng-deep .mat-mdc-option {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:medium;
}

ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgb(196, 193, 193);
    --scrollbar-hover-size: 8px;
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-border-radius: 10px;
    --scrollbar-padding: 0px;
    
    height: 370px;
}

mat-divider {
    margin-top: 5px;
}

.mat-button {
    border: none;
    background-color: white;
}

::ng-deep .mdc-line-ripple::after {
    border-bottom-width: 0 !important;
    
  }
::ng-deep .mdc-line-ripple::before {
    border-bottom-width: 0 !important;
    
}
   
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 22px;
    /* margin: 0px 165.131px 0px 0px; */
}

::ng-deep .mat-mdc-select-arrow  {
    color: rgba(0,0,0,0.70);
}

::ng-deep .mat-mdc-select-arrow svg {
     opacity: 0; 
}

.mat-datepicker-toggle{
    color:  rgba(0, 0, 0, 0.74);
    padding: 6px;
    box-sizing: content-box;
}

#custom-label{
    color: rgba(0,0,0,.87);
    font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: var(--mdc-typography-body1-font-size, 16px);
    line-height: var(--mdc-typography-body1-line-height, 24px);
    font-weight: var(--mdc-typography-body1-font-weight, 400);
    letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
    -webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
    text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
    text-transform: var(--mdc-typography-body1-text-transform, none);
}

#date-picker-btn{
    padding: 0px;
    border: #ddd;
}

#filter-btn{
    height: 56px;
    box-sizing: border-box;
    border: 1px solid  rgba(0, 0, 0, 0.3) !important;
    border-radius: 8px;
}

#button-title{
    padding: 5px 15px 5px 15px; 
}

#cross-icon {
    color: rgba(0, 0, 0, 0.74);
    transform: scale(0.8);
    padding: 18px;
    box-sizing: content-box;
}

#filter-icon-display{
    transform: scale(1.2);
}