<div class="body-container">
    <div class="side-body">

    </div>
    <div class="sign-in-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2 class="sign-in-text"><b>Sign In</b></h2>
            <div class="form-group">
                <div>
                    <label class="label-username">Username</label>
                    <input type="text" formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['username'].errors['required']">Username is required</div>
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div>
                    <label class="label-password">Password</label>
                    <input type="password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                    </div>
                </div>
            </div>
            
            
                <button [disabled]="loading" text="Sign In" type="submit" >
                    <span *ngIf="loading" ></span>
                    Sign In
                </button>
            
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            
        </form>   
    </div>
</div>

