.container {
    overflow-x: hidden;
}
.responseBox{
    height: 100%;
    width: 400px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;
}
.checkedIcon {
    margin-left: 10px;
    height: 20px;
    width: 20px;  
}
.requestTitle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101828;
    margin-bottom: 10px;
}
.responseTitle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101828;
    margin-bottom: 10px;
}
.requestDetail1{
    width: 350px;
    height: 250px;
    background:rgba(61, 133, 198, 0.09);
    padding-bottom: 20px;
    padding-left: 20px; 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.midLine{
    margin: 2rem 0;
    margin-bottom: 24px;
    color: inherit;
    border: -1;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    /* margin-right: -22px; */
}
.requestDetail2{
    background-color: rgba(61, 198, 75, 0.09);
    width: 350px;
    height: 250px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    padding-left: 20px; 
}
.close-button{
    float: right;
    top: 10px; 
    right: 10px;
    border: none;
    background-color: white;
}