<div class="container" [style.overflow-x]="'hidden'">
  <div class="row">
    <div class= "col-md-4 col-sm-12">
      <div class="responseBox">
        <button mat-icon class="close-button" [mat-dialog-close]="true">
          <mat-icon class="close-icon" color="black">close</mat-icon>
        </button>
          <div class="responseTable" [@slideIn]>
            <h3 class="requestTitle">Request </h3>
                <table class="requestDetail1">
                    <tbody>
                      <tr *ngFor ="let res of result" >
                          <td *ngIf="res['key']!= 'status'">{{res['key']}} :</td>
                          <td *ngIf="res['key']!= 'status'">{{res['value']}} </td>
                      </tr>
                    </tbody>
              </table>
                <hr class="midLine">
                <h3 class="responseTitle">Response </h3>
            <table class="requestDetail2"> 
              <tbody>
                <tr *ngFor ="let res of result" >
                  <td *ngIf="res['key']!= 'status'">{{res['key']}} :</td>
                  <td *ngIf="res['key']!= 'status'">{{res['value']}} </td>
                  <td *ngIf="res['key']!= 'status'"> 
                    <img *ngIf="res['checked'] === 0" src="/assets/vectors/redSignal.svg" alt="Image 1" class="checkedIcon">
                    <img *ngIf="res['checked'] === 1" src="/assets/vectors/greenSignal.svg" alt="Image 2" class="checkedIcon">
                  </td>
                </tr> 
              </tbody>
            </table>  
            </div>
        </div>
    </div>
  </div>
</div>