<div>
    <p class="leftletter1" id="card-letter1">Hyperbus Adaptor - IA Data Manager</p>
    <p class ="leftletter2" id="card-letter2">Select Component</p>
    <p class ="leftletter3" id="card-letter3">Select your desired component</p>
    <button (click)="onBtn()" class="ViewPreviousRequests1" id="ViewPreviousRequests" [style.color]="'#344DA1'">View previous requests</button>
    <p class ="" id="middle-lable1">Component</p>
    <input type="text" id="middle-box" placeholder="inside-box-text" value="Education" readonly>
    
    <hr>

    <p class="leftletter4" id="card-letter4">Upload Component Data File</p>
    <p class="leftletter5" id="card-letter5">Upload XLSX format only</p>
    <a href = "https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg"
      Download = "test_image" class="download-text">
        <button type = "button" class="DownloadSampleClass" id="DownloadSampleId" [style.color]="'#344DA1'"> Download Sample File Format </button>
    </a>
    
</div>