.container {
    padding: 10px;
}
#card-letter1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #2B2B2B;
    padding: 16px;
    /* margin: 8px; */
}

#button{
    box-sizing: border-box;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 12px 24px;
    gap: 10px;
    background: #FFFFFF;
    /* Text/Text Blue */
    border: 1px solid #344DA1;
    border-radius: 8px;
    margin: 10px;
    float: right;
}

#button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    /* line-height: 17px; */
    color: #344DA1;
    margin: 0;
}

#row2, row3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#card-letter2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #303030;    
}

#card-letter3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #595959;   
}

#middle-lable1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #595959;
}

#middle-box{
    width: 100%; 
    box-sizing: border-box;
    background: #F7F8FA;    
    border: 1px solid #CACACA;
    border-radius: 8px;
    padding: 12px;

}
    
.inside-box-text::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
}

hr{
    width: 100%;
    height: 0px;
    /* Neutral/Neutral Out alpha */
    border: 1px solid #bcb9b9;
}

#file-details{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 9px;
    color: #303030;
    padding-left: 20px;
}

#spanId2{
    color: #595959;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
}

.drag-box{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px dashed #9c9a9a;
    border-radius: 8px;
    padding: 25px;
    margin: 20px;
}

#message{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #007A78;
    padding-left: 20px;
    margin: 0;
}

#card-letter4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #595959; 
    margin: 20px;
}

table.previous-files-table {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-style: normal; */
    font-weight: 400px;
    font-size: 14px;
    color: #595959;
    height: 130px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    display: block;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    border-bottom: 1px solid #c2bfbf;
}

.previous-files-download {
    border: none;
    background-color:white;
}