<div>
  <p class="leftletter1" id="card-letter1">Hyperbus Adaptor - IA Data Manager</p>
  <p class ="leftletter2" id="card-letter2">Select Component</p>
  <p class ="leftletter3" id="card-letter3">Select your desired component</p>
  <button (click)="onBtn()" class="ViewPreviousRequests1" id="ViewPreviousRequests" [style.color]="'#344DA1'">
    <p id="previous-button-text">
      View previous requests
    </p>
    
  </button>
  <p class ="" id="middle-lable1">Component</p>
  <input type="text" id="middle-box" placeholder="inside-box-text" value="Education" readonly>
  
  <hr>

  <p class="leftletter4" id="card-letter4">Upload Component Data File</p>
  <p class="leftletter5" id="card-letter5">Upload XLSX format only</p>
  <a href = "/assets/Download Sample Format.xlsx"
    Download = "Sample_Format" >
      <button type = "button" class="DownloadSampleClass" id="DownloadSampleId" [style.color]="'#344DA1'">
        <p id="download-sample-button-text">
          Download Sample File Format 
        </p>
         
        </button>
  </a>
  <div draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row">
        <div class="col-md-12 text-center" >
          Drag your file here
          <div>
            <img src="/assets/vectors/upload-logo.svg" class="img-drop">
          </div>
          <div>
            <span id="spanId2">or </span>
            <a href="javascript:void(0)" (click)="file.click()">
              
              <span id="span1Id">select a file from computer</span>
            </a>
          </div>
      <div draggable="true" ngClass="{{dragAreaClass}}">

         <div class="row">
    
          <div class="col-md-12 text-center" >
    
             Drag your file here
    
                <div>
    
                   <img src="/assets/vectors/upload-logo.svg" class="img-drop">
    
                 </div>
    
                  <div>
    
                    <span id="spanId2">or </span>
    
                      <a href="javascript:void(0)" (click)="file.click()">
                         <span id="span1Id">select a file from computer</span>
    
                      </a>
    
                  </div>
            
            <input type="file"
                   #file
                   [multiple]="true"
                   (change)="onFileChange($event)"
                   style="display:none" />
        </div>
        <div>
          {{message}}
        </div>
        </div>
    </div>
    <div class="error" *ngIf="error">
      Upload XLSX format only
  </div>

  <p class="leftletter6" id="card-letter6">Previously Uploaded Data Files</p>
  <p class="temp-none" id="temp-noneId">None</p>
  
</div>