@media only screen and (max-width: 780px) { 
    #side-body { 
      display: none; 
    } 
  }
#side-body {
    background: #CFE2F3;
    border-radius: 0px 0px 8px 8px;
    padding-bottom: 16px;
    height: 100vh;
}

.row {
    margin-left: 16px;
    /* height: 10px; */
}

.sign-in-form {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.sign-in-text{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    color: #303030;
    margin: 20px;
} 

.label-username{
    margin: 0;
    
    font-weight: 500;
    font-size: 14px;
    /* line-height: 16px; */
    color: #595959;
    padding-bottom: 10px;
}

.label-password{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #595959;
    padding-bottom: 10px;
}



button {
    width: 100%;
    background: #344DA1;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 10px;
}

::ng-deep .mat-mdc-form-field {
    width: 100%;
}


#input1, #input2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.input-row {
    width: 100%;
    margin-bottom: 20px;
}

#error-msg1{
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

#error-msg2{
    border-radius: 8px;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 21px;
}

#error-msg3{
    border-radius: 8px;
    /* font-weight: 500; */
    font-size: 18px;
    line-height: 21px;
}
